<div class="container">
  <div class="blog-header">
    <%= link_to "Voltar para o início", root_path, class: "back-home-link" %>
  </div>

  <h1 class="blog-title">Blog da Dra. Raquel</h1>
  <p class="blog-subtitle">Confira dicas e guias sobre seus direitos trabalhistas e previdenciários.</p>

  <% @articles.each do |article| %>
    <div class="a